# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
maintenance-controller
bin/
build/
testbin/

# local config file
maintenance_config.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
.vscode

# Dev files
static/api/v1/info
