apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: v1
kind: Secret
metadata:
  name: maintenance-config
type: Opaque
stringData:
  maintenance.yaml: |
    intervals:
      requeue: 10s
      notify: 24h
    keys:
      state: maintenance-state
      chain: maintenance
    instances:
      notify: null
      check: null
      trigger: null

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        image: controller
        name: manager
        volumeMounts:
        - name: config
          mountPath: "/config"
          readOnly: true
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      volumes:
      - name: config
        secret:
          secretName: maintenance-config
      terminationGracePeriodSeconds: 10
